<!DOCTYPE html>
<html ng-app="APP1">
	<head>
		<title>Hola mundo simple</title>
		<script type="text/javascript" src="sources/angular.min.js"></script>
		<script type="text/javascript" src="sources/jquery.min.js"></script>

		<meta charset="utf-8">
		
		<script type="text/javascript">
			var App = angular.module('APP1', []);

			// App = angular.module('APP1')  -> SIN CORCHETES
			angular.module('APP1')
				.controller('homeCtrl', function($scope){
					$scope.persona = {
						nombre: 'Barty',
						apellidos: 'díaz',
						dinero: 120
					}

					$scope.letrasCambiadas = 0;

					$scope.nombre_boton = 'RECEIVE MONEY';

					function delay() {
						setTimeout(function() {
							$scope.nombre_boton = 'GIVE ME THE MONEY!';
							$scope.$apply();
						}, 4000);
					}

					delay();

					$scope.verbenero = function() {
						$scope.persona.dinero += 1000;
					};

					$scope.fn_extra = function() {
						console.log('--')
					}

					$scope.dinero_class = '';

				});
		
		</script>

		<style type="text/css">
			.cls1 {
				color: red;
			}
		</style>

	</head>
	<body>

		<div ng-include="'template1.html'"></div>

		<div ng-controller="homeCtrl">

			NOMBRE:
			<input type="text" ng-model="persona.nombre"
				ng-change="letrasCambiadas = letrasCambiadas + 1; dinero_class = 'cls1'">
			<br>
			APELLIDOS: <span ng-bind="persona.apellidos"
				ng-class="persona.nombre.length == 0 ? 'cls1' : ''"></span>
			<br>
			DINERO: <span ng-bind="persona.dinero"
				ng-class="dinero_class"></span>
			<br>
			<input type="button" ng-click="verbenero()"
				ng-disabled="persona.nombre.length == 0 || persona.nombre == 'barty'"
				value="{{ nombre_boton }}">
			<br>
			{{ letrasCambiadas }}
		</div>
	</body>
</html>